* {
    box-sizing: border-box;
}

html, body {
    display: flex;
    flex-direction: column;
    height:100%;
    margin: 0;
}

main{
    flex:1;
}

.header{
    background-color: darkcyan;
    padding: 24px;
}

.header-title {
    font-size: 4rem;
    margin: 0;
    text-align: center;
    font-family: Ink free;
}

.main {
    background-color: rgb(50, 191, 191);
}

.footer {
    background-color: darkcyan;
    font-family: Ink Free;
    font-size: 1.5rem;
    text-align: center;
}