* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.header{
    background-color: darkcyan;
    padding: 24px;
}

.header-title {
    font-size: 4rem;
    margin: 0;
    text-align: center;
    font-family: Ink free;
}